#header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 15vh;
    background-color: #fff;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

#logo {
    margin: 0 15rem 0 5rem;
    font-weight: 800;
    font-size: 2rem;
}

#nav {
    margin: 0 4rem 0 0;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav ul {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
}

#burger {
    display: none;
}

#mobile-menu {
    display: none;
}

.links {
    padding: 0.5rem 1rem;
    border-bottom: 2px solid transparent;
}

.links:hover {
    background-color: orangered;
    color: #fff;
}

#burger {
    display: none;
    width: 50px;
    height: 50px;
}
#inner-burger {
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.bars {
    width: 100%;
    height: 0.2rem;
    background-color: #494949;
}

#product, #companys {
    border: 1px solid #fff;
    position: absolute;
    top: 10vh;
    display: none;
    justify-content: center;
    align-items: center;
}

#product ul, #companys ul {
    /* width: auto; */
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f5f5f5;
    /* padding: 1rem; */
    width: 13rem;
}

.nav ul:hover #product, .nav ul:hover #companys {
    display: block;
}

.sub-links {
    color: #494949;
}

.sub-links:hover {
    color: #ff4500;
}

.nav ul li a {
    padding: 0.5rem 1rem;
    color: #494949;
    position: relative;
}

.nav ul li a:hover {
    color: #ff4500;
}

#com {
    display: flex;
    align-items: center;
}

.fa-chevron-down {
    margin-left: .2rem;
}

#sign-up {
    background-color: #ff4500;
    padding: .5rem 2rem;
    color: #fff;
}

#sign-up:hover {
    background-color: #494949;
}



@media screen and (max-width: 1200px) {
    #header {
        width: 100%;
    }

    #logo {
        margin: 0 0 0 2rem;
    }
    #burger {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 2rem;
        z-index: 10;
    }
    #nav {
        position: absolute;
        top: 0;
        right: -64px;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: space-around;
        align-items: center;
        transform: translateX(100%);
        transition: all .5s ease-in-out;
        background-color: whitesmoke;
    }
    #nav-open {
        transform: translateX(0%);
    }
    .links {
        padding: 0.5rem 1rem;
    }
    .links:hover {
        background-color:transparent;
        border-bottom: 2px solid #ff4500;
    }
    #product, #companys {
        width: auto;
        height: auto;
        z-index: 10;
        position: relative;
        top: 0;
    }

    #product ul, #companys ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        /* padding: 1rem; */
        border: #fff solid 2px;
    }
    .nav ul:hover #product, .nav ul:hover #companys {
        display: flex;
    }
    #sign-up {
        background-color: transparent;
        color: #494949;
    }
    #sign-up:hover {
        background-color: transparent;
        color: #ff4500;
    }

}