#main-body {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buy-for-me {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.order-b4m {
    width: 40rem;
    height: 25rem;
    display: grid;
    grid-template-columns: 1fr;
    /* justify-items: center;
    align-items: center;
    background-color: red;
    border-radius: 1rem; */
}

.order-page-b4m, .payment-b4m, .success-b4m {
    width: 100%;
    height: 100%;
    grid-area: 1/1/2/2;
    background-color: #fff;
}

.order-page-b4m {
    z-index: 0;
}

.payment-b4m {
    z-index: 1;
    display: none;
}

.success-b4m {
    z-index: 2;
    display: none;
}

.form-header-b4m {
    width: 100%;
    text-align: center;
}

.form-control-b4m {
    display: flex;
    align-items: center;
    border: 1px solid #cfcfcf;
    padding: .5rem;
    margin-bottom: .5rem;
}

.label-b4m {
    margin-bottom: 0;
    width: 30%;
    height: 100%;
    padding: 0.5rem;
}

.input-b4m {
    display: flex;
    align-items: center;
    width: 80%;
}

.form-control-b4m input, .form-control-b4m select {
    border: 1px solid transparent;
    outline: none;
    padding-left: 1rem;
    width: 100%;
}

.form-control-b4m button {
    width: 100%;
    background-color: #494949;
    color: #fff;
}

.payment-links-b4m button, .reviewing {
    background-color: #494949;
    color: #fff;
}

.payment-links-b4m button:hover, .reviewing:hover {
    background-color: orangered;
    color: #fff;
}

.form-control-b4m button:hover {
    background-color: orangered;
    color: #fff;
}

.payment-page-b4m {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.payment-links-b4m {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.linka-b4m {
    width: 20rem;
    height: 2rem;
    border: 1px solid #dadada;
    margin-bottom: 1rem;
    background-color: #494949;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.payment-page-b4m button {
    background-color: orangered;
    color: #fff;
}

.success-b4m p {
    box-shadow: 0 0 .4rem #d6d6d6;
    width: 20rem;
    padding: 1rem;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.success-b4m .linka-b4m {
    margin: 0 auto;
}

#b4m-mobile-menu {
    width: 70vw;
    height: 100vh;
    background-color: #494949;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: all .5s ease-in-out;
    display: none;
    z-index: 5;
}

@media screen and (max-width: 1000px) {
    #main-body {
        width: 100%;
    }
    #b4m-mobile-menu {
        display: block;
    }
}